{{!
 * Damage Log
 * https://github.com/cs96and/FoundryVTT-damage-log
 *
 * Copyright (c) 2021-2022 Alan Davies - All Rights Reserved.
 *
 * You may use, distribute and modify this code under the terms of the MIT license.
 *
 * You should have received a copy of the MIT license with this file. If not, please visit:
 * https://mit-license.org/
}}

<nav class="damage-log-nav tabs" data-group="damage-log-tabs">
	<a class="item" data-tab="chat" data-group="damage-log-tabs">{{ localize "damage-log.chat-tab-name" }}</a>
	<a class="item" data-tab="damage-log" data-group="damage-log-tabs">{{ localize "damage-log.damage-log-tab-name" }}</a>
</nav>
